.jam-buddies-search {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 20px;
}

.jam-buddies-search h1 {
  color: #1976D2;
  font-size: 36px;
  margin-bottom: 20px;
}

.jam-buddies-search label {
  color: #1976D2;
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

.jam-buddies-search select,
.jam-buddies-search input[type="number"] {
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  font-size: 18px;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

/* .jam-buddies-search button {
  background-color: #007aff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 15px;
  transition: all 0.2s ease-in-out;
}

.jam-buddies-search button:hover {
  background-color: #0056b3;
} */

/*new styles*/

.jam-buddies-search .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.jam-buddies-search .col {
  width:30%;
}

  .card {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .card h2 {
    color: #0066cc;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .card p {
    color: #333;
    font-size: 16px;
    margin-bottom: 5px;
  }